{{ define "main" }}
{{ if .Content }}
<div class="mt-10">
    <p class="py-8 border-t">
        <em>{{ .Content | emojify }}</em>
    </p>
</div>
{{ end }}
{{ if gt .Pages 0 }}
<div class="flex space-x-10">
    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
    {{ if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default true) }}
    <div class="text-2xl font-bold">
        {{ .Key }}
    </div>
    {{ end }}
    <ol class="flex-grow">
        {{ range .Pages }}
        <li>
            <time class="text-sm tabular-nums text-muted">{{ .Date | time.Format ":date_medium" }}&nbsp;</time>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ol>
    {{ end }}
</div>
{{ end }}
{{ end }}
