{{ define "main" }}
  <h1>{{ .Title | emojify }}</h1>
  <!-- Post meta -->
  {{- partial "date" . -}}
  {{- partial "tag" . -}}
  <!-- Table of contents -->
  {{ if default true (default .Site.Params.toc .Params.toc)}}
    {{ if gt (.TableOfContents | countwords)
      0
    }}
      <details>
        <summary>Table of contents</summary>
        <div id="toc-list">{{ .TableOfContents }}</div>
      </details>
    {{ end }}
  {{ end }}
  <!-- Content -->
  {{- partial "custom/content-before.html" . -}}
  <div class="content">{{ .Content | emojify }}</div>
  {{- partial "custom/content-after.html" . -}}
  <!-- Comments block -->
  {{ if and .Content (default true (default .Site.Params.comments
    .Params.comments))
  }}
    <div class="mt-16">{{- partial "comments" . -}}</div>
  {{ end }}
{{ end }}
