@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-top: 64px;
    --page-gutter: 24px;
    --header-height: 48px;
    --footer-height: 96px;

    @media (min-width: 640px) {
      --page-top: 192px;
      --page-gutter: 48px;
      --footer-height: 48px;
    }

    --content-width: 60rem;
    --content-height: calc(
      100vh - (var(--page-top) * 2) - var(--footer-height)
    );

    --b-low-a: hsl(32deg 57% 95% / 0.8);
    --b-low: hsl(32deg 57% 95%);
    --b-med: hsl(32deg 57% 92%);
    --f-med: hsl(206deg 23% 31%);
    --f-high: hsl(206deg 23% 3%);

    @media (prefers-color-scheme: dark) {
      --b-low-a: hsl(333deg 5% 9% / 0.9);
      --b-low: hsl(333deg 5% 9%);
      --b-med: hsl(333deg 5% 14%);
      --f-med: hsl(60deg 5% 62%);
      --f-high: hsl(60deg 5% 94%);
    }
  }

  html {
    @apply scroll-smooth;

    @media (prefers-reduced-motion: reduce) {
      @apply scroll-auto;
    }
  }

  body {
    @apply bg-b-low text-f-high antialiased;
  }

  [id] {
    @apply scroll-mt-header-height;
  }

  p {
    @apply leading-relaxed;
  }

  em {
    @apply font-serif;
  }

  strong {
    @apply font-semibold;
  }

  ul,
  ol {
    @apply space-y-1 leading-relaxed;
  }

  nav ul,
  nav ol {
    @apply space-y-0;
  }

  article > *,
  section > * {
    @apply mt-7;
  }

  article > h2,
  article > h3,
  article > h4,
  article > h5,
  article > h6,
  section > h2,
  section > h3,
  section > h4,
  section > h5,
  section > h6 {
    @apply mt-14;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold text-xl;
    @apply pt-4 pb-2;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h6 {
    @apply font-normal;
  }
}

@layer components {
  .headline {
    @apply text-lg font-semibold tracking-tight;
  }

  .subheadline {
    @apply text-base font-semibold tracking-tight;
  }

  .link:before,
  .link:after {
    color: var(--f-med);
  }

  .link:before {
    content: "{";
  }

  .link:after {
    content: "}";
  }

  .link[target="_blank"]:before {
    content: "[";
  }

  .link[target="_blank"]:after {
    content: "]";
  }

  .link:hover {
    @apply underline decoration-f-med underline-offset-2;
  }

  .link:visited {
    @apply text-f-med;
  }
}
