/* ######################## */
/* #         Fonts        # */
/* ######################## */
/* M Plus Code Latin */
@font-face {
  font-family: "M PLUS 1 Code Latin", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code+Latin:wght@400;500;700&display=swap");
  font-display: swap;
}

:root {
  --page-top: 64px;
  --page-gutter: 24px;
  --header-height: 48px;
  --footer-height: 96px;

  @media (min-width: 640px) {
    --page-top: 192px;
    --page-gutter: 48px;
    --footer-height: 48px;
  }

  --content-width: 50rem;
  --content-height: calc(100vh - (var(--page-top) * 2) - var(--footer-height));
}

html {
  @apply scroll-smooth;

  @media (prefers-reduced-motion: reduce) {
    @apply scroll-auto;
  }
}

body {
  background-color: var(--base);
  @apply text-text antialiased;
}

/* ################################# */
/* #         Overall design        # */
/* ################################# */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-bold text-xl;
  @apply pt-4 pb-2;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h6 {
  @apply font-normal;
}

[id] {
  @apply scroll-mt-header-height;
}

p {
  @apply leading-relaxed font-sans;
}

strong {
  @apply font-semibold;
}

ul,
ol {
  @apply space-y-1 leading-relaxed;
}

nav ul,
nav ol {
  @apply space-y-0;
}

article > *,
section > * {
  @apply mt-7;
}

article > h2,
article > h3,
article > h4,
article > h5,
article > h6,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
  @apply mt-14;
}

/* Code block */
code {
  /* Inline code style */
  @apply rounded p-1 bg-subtle text-base;
}

pre {
  @apply overflow-auto p-4 rounded-lg;
}

pre > code {
  /* Disable inline code style */
  @apply rounded-none p-0 bg-transparent;
}
