:root {
  --font-sans: "Barlow";
  --font-mono: "Roboto Mono";
  --page-top: 64px;
  --page-gutter: 24px;
  --header-height: 48px;
  --footer-height: 48px;
  --sidebar-top: 70px;

  --content-width: 40rem;
  --content-height: calc(100vh - (var(--page-top) * 2) - var(--footer-height));

  @media (min-width: 640px) {
    --page-top: 192px;
    --sidebar-top: 300px;
    --page-gutter: 48px;
  }
}

html {
  @apply scroll-smooth font-sans;

  @media (prefers-reduced-motion: reduce) {
    @apply scroll-auto;
  }
}

body {
  @apply bg-base text-text text-md antialiased selection:bg-subtle selection:text-surface;
}

/* ################################# */
/* #         Overall design        # */
/* ################################# */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-xl;
  @apply pt-4 pb-2;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-xl;
}
h6 {
  @apply font-normal;
}

[id] {
  @apply scroll-mt-header-height;
}

p {
  @apply leading-relaxed py-2;
}

strong {
  @apply font-semibold;
}

ul,
ol {
  @apply space-y-1 leading-relaxed;
}

nav ul,
nav ol {
  @apply space-y-0;
}

article > *,
section > * {
  @apply mt-5;
}

article h2,
article h3,
article h4,
article h5,
article h6,
section h2,
section h3,
section h4,
section h5,
section h6 {
  @apply mt-10;
}

/* Code block */
code {
  /* Inline code style */
  @apply rounded p-1 bg-muted text-base font-mono text-sm;
}

code > pre {
  @apply font-mono;
}

pre {
  @apply overflow-auto p-4 my-5 rounded-lg;
}

pre > code {
  /* Disable inline code style */
  @apply rounded-none p-0 bg-transparent font-mono;
}

/* ################################# */
/* #       Table of contents       # */
/* ################################# */
#toc-list ol {
  @apply pl-3 m-1 border-l-2 text-sm text-muted;
  counter-reset: tocitem;
}

#toc-list > #TableOfContents > ol {
  @apply border-0;
}

#toc-list a {
  @apply inline-block w-full rounded px-3 leading-relaxed transition-none;
}

#toc-list ol > li {
  @apply block my-1;
  counter-increment: tocitem;
}

#toc-list li > a::before {
  @apply mr-2 -ml-3 font-semibold;
  content: counters(tocitem, ".");
}

#toc-list li > a {
  @apply hover:text-text;
}

#toc-list li > a > code {
  @apply text-xs;
}

/* ###################### */
/* #       Figure       # */
/* ###################### */
figure,
img {
  @apply block mx-auto;
}

/* ################### */
/* #       Tag       # */
/* ################### */
#tag {
  @apply p-1 text-muted italic underline;
}

#tag:before,
#tag:after {
  @apply text-muted inline-block no-underline;
}

#tag:before {
  content: "[#";
}

#tag:after {
  content: "]";
}

/* ##################### */
/* #       Links       # */
/* ##################### */
.content a {
  @apply italic p-1 underline;
}

.content a::before {
  content: "{";
  @apply pr-1 text-muted inline-block no-underline;
}

.content a::after {
  content: " }";
  @apply pl-1 text-muted inline-block no-underline;
}

.content a:hover {
  @apply no-underline;
}

.content ul {
  @apply list-disc ml-6;
}

.content ol {
  @apply list-decimal ml-6;
}

.content table {
  @apply overflow-auto block border-spacing-0 border-collapse my-4;
}

.content tr th,
.content tr td {
  @apply p-3 border-2 border-solid border-muted;
}

.content img {
  @apply my-4;
}
