/* Tailwind base - put variables under: tailwind.config.js */
@import "tailwindcss/base";

/* Tailwind component classes registered by plugins*/
@import "tailwindcss/components";

/* Tailwind's utility classes - generated based on config file */
@import "tailwindcss/utilities";

/* Site Specific */
@import "assets/css/site";
/* Custom defined styles */
@import "assets/css/custom";
