<div
  class="lowercase italic mx-auto flex w-full max-w-content items-center justify-between"
>
  <nav>
    <ol class="flex text-md items-center">
      {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ol>
  </nav>
  <nav>
    <a href="{{ .Site.BaseURL }}/index.xml"
      ><svg
        width="18px"
        height="18px"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
        />
      </svg>
    </a>
  </nav>
</div>

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
  {{ end }}
  {{ $attr := "text-muted focus:underline focus:outline-none after:md:mx-2 after:mx-0.5" }}
  {{ if eq .p1 .p2 }}
    {{ $attr = "focus:underline focus:outline-none font-bold after:md:mx-2 after:mx-0.5" }}
  {{ end }}
  <li>
    {{ $title := .p1.Title }}
    {{ if .p1.IsHome }}{{ $title = .p1.Site.Title }}{{ end }}
    <a href="{{ .p1.RelPermalink }}" class="{{ $attr }}">{{ $title }}</a>
  </li>
  {{ if ne .p1 .p2 }}
    <li class="{{ $attr }}">/</li>
  {{ end }}
{{ end }}
