/* Background */ .dark .bg { color: #575279; background-color: #faf4ed; }
/* PreWrapper */ .dark .chroma { color: #575279; background-color: #faf4ed; }
/* Error */ .dark .chroma .err { color: #b4637a }
/* LineTableTD */ .dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .dark .chroma .hl { background-color: #e1dbd5 }
/* LineNumbersTable */ .dark .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .dark .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .dark .chroma .line { display: flex; }
/* Keyword */ .dark .chroma .k { color: #286983 }
/* KeywordConstant */ .dark .chroma .kc { color: #286983 }
/* KeywordDeclaration */ .dark .chroma .kd { color: #286983 }
/* KeywordNamespace */ .dark .chroma .kn { color: #907aa9 }
/* KeywordPseudo */ .dark .chroma .kp { color: #286983 }
/* KeywordReserved */ .dark .chroma .kr { color: #286983 }
/* KeywordType */ .dark .chroma .kt { color: #286983 }
/* Name */ .dark .chroma .n { color: #d7827e }
/* NameAttribute */ .dark .chroma .na { color: #d7827e }
/* NameBuiltin */ .dark .chroma .nb { color: #d7827e }
/* NameBuiltinPseudo */ .dark .chroma .bp { color: #d7827e }
/* NameClass */ .dark .chroma .nc { color: #56949f }
/* NameConstant */ .dark .chroma .no { color: #ea9d34 }
/* NameDecorator */ .dark .chroma .nd { color: #797593 }
/* NameEntity */ .dark .chroma .ni { color: #d7827e }
/* NameException */ .dark .chroma .ne { color: #286983 }
/* NameFunction */ .dark .chroma .nf { color: #d7827e }
/* NameFunctionMagic */ .dark .chroma .fm { color: #d7827e }
/* NameLabel */ .dark .chroma .nl { color: #d7827e }
/* NameNamespace */ .dark .chroma .nn { color: #d7827e }
/* NameProperty */ .dark .chroma .py { color: #d7827e }
/* NameTag */ .dark .chroma .nt { color: #d7827e }
/* NameVariable */ .dark .chroma .nv { color: #d7827e }
/* NameVariableClass */ .dark .chroma .vc { color: #d7827e }
/* NameVariableGlobal */ .dark .chroma .vg { color: #d7827e }
/* NameVariableInstance */ .dark .chroma .vi { color: #d7827e }
/* NameVariableMagic */ .dark .chroma .vm { color: #d7827e }
/* Literal */ .dark .chroma .l { color: #ea9d34 }
/* LiteralDate */ .dark .chroma .ld { color: #ea9d34 }
/* LiteralString */ .dark .chroma .s { color: #ea9d34 }
/* LiteralStringAffix */ .dark .chroma .sa { color: #ea9d34 }
/* LiteralStringBacktick */ .dark .chroma .sb { color: #ea9d34 }
/* LiteralStringChar */ .dark .chroma .sc { color: #ea9d34 }
/* LiteralStringDelimiter */ .dark .chroma .dl { color: #ea9d34 }
/* LiteralStringDoc */ .dark .chroma .sd { color: #ea9d34 }
/* LiteralStringDouble */ .dark .chroma .s2 { color: #ea9d34 }
/* LiteralStringEscape */ .dark .chroma .se { color: #286983 }
/* LiteralStringHeredoc */ .dark .chroma .sh { color: #ea9d34 }
/* LiteralStringInterpol */ .dark .chroma .si { color: #ea9d34 }
/* LiteralStringOther */ .dark .chroma .sx { color: #ea9d34 }
/* LiteralStringRegex */ .dark .chroma .sr { color: #ea9d34 }
/* LiteralStringSingle */ .dark .chroma .s1 { color: #ea9d34 }
/* LiteralStringSymbol */ .dark .chroma .ss { color: #ea9d34 }
/* LiteralNumber */ .dark .chroma .m { color: #ea9d34 }
/* LiteralNumberBin */ .dark .chroma .mb { color: #ea9d34 }
/* LiteralNumberFloat */ .dark .chroma .mf { color: #ea9d34 }
/* LiteralNumberHex */ .dark .chroma .mh { color: #ea9d34 }
/* LiteralNumberInteger */ .dark .chroma .mi { color: #ea9d34 }
/* LiteralNumberIntegerLong */ .dark .chroma .il { color: #ea9d34 }
/* LiteralNumberOct */ .dark .chroma .mo { color: #ea9d34 }
/* Operator */ .dark .chroma .o { color: #797593 }
/* OperatorWord */ .dark .chroma .ow { color: #797593 }
/* Punctuation */ .dark .chroma .p { color: #797593 }
/* Comment */ .dark .chroma .c { color: #9893a5 }
/* CommentHashbang */ .dark .chroma .ch { color: #9893a5 }
/* CommentMultiline */ .dark .chroma .cm { color: #9893a5 }
/* CommentSingle */ .dark .chroma .c1 { color: #9893a5 }
/* CommentSpecial */ .dark .chroma .cs { color: #9893a5 }
/* CommentPreproc */ .dark .chroma .cp { color: #9893a5 }
/* CommentPreprocFile */ .dark .chroma .cpf { color: #9893a5 }
/* GenericDeleted */ .dark .chroma .gd { color: #b4637a }
/* GenericEmph */ .dark .chroma .ge { font-style: italic }
/* GenericInserted */ .dark .chroma .gi { color: #56949f }
/* GenericStrong */ .dark .chroma .gs { font-weight: bold }
/* GenericSubheading */ .dark .chroma .gu { color: #907aa9 }
