/* Background */ .bg { color: #575279; background-color: #faf4ed; }
/* PreWrapper */ .chroma { color: #575279; background-color: #faf4ed; }
/* Error */ .chroma .err { color: #b4637a }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #e1dbd5 }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #286983 }
/* KeywordConstant */ .chroma .kc { color: #286983 }
/* KeywordDeclaration */ .chroma .kd { color: #286983 }
/* KeywordNamespace */ .chroma .kn { color: #907aa9 }
/* KeywordPseudo */ .chroma .kp { color: #286983 }
/* KeywordReserved */ .chroma .kr { color: #286983 }
/* KeywordType */ .chroma .kt { color: #286983 }
/* Name */ .chroma .n { color: #d7827e }
/* NameAttribute */ .chroma .na { color: #d7827e }
/* NameBuiltin */ .chroma .nb { color: #d7827e }
/* NameBuiltinPseudo */ .chroma .bp { color: #d7827e }
/* NameClass */ .chroma .nc { color: #56949f }
/* NameConstant */ .chroma .no { color: #ea9d34 }
/* NameDecorator */ .chroma .nd { color: #797593 }
/* NameEntity */ .chroma .ni { color: #d7827e }
/* NameException */ .chroma .ne { color: #286983 }
/* NameFunction */ .chroma .nf { color: #d7827e }
/* NameFunctionMagic */ .chroma .fm { color: #d7827e }
/* NameLabel */ .chroma .nl { color: #d7827e }
/* NameNamespace */ .chroma .nn { color: #d7827e }
/* NameProperty */ .chroma .py { color: #d7827e }
/* NameTag */ .chroma .nt { color: #d7827e }
/* NameVariable */ .chroma .nv { color: #d7827e }
/* NameVariableClass */ .chroma .vc { color: #d7827e }
/* NameVariableGlobal */ .chroma .vg { color: #d7827e }
/* NameVariableInstance */ .chroma .vi { color: #d7827e }
/* NameVariableMagic */ .chroma .vm { color: #d7827e }
/* Literal */ .chroma .l { color: #ea9d34 }
/* LiteralDate */ .chroma .ld { color: #ea9d34 }
/* LiteralString */ .chroma .s { color: #ea9d34 }
/* LiteralStringAffix */ .chroma .sa { color: #ea9d34 }
/* LiteralStringBacktick */ .chroma .sb { color: #ea9d34 }
/* LiteralStringChar */ .chroma .sc { color: #ea9d34 }
/* LiteralStringDelimiter */ .chroma .dl { color: #ea9d34 }
/* LiteralStringDoc */ .chroma .sd { color: #ea9d34 }
/* LiteralStringDouble */ .chroma .s2 { color: #ea9d34 }
/* LiteralStringEscape */ .chroma .se { color: #286983 }
/* LiteralStringHeredoc */ .chroma .sh { color: #ea9d34 }
/* LiteralStringInterpol */ .chroma .si { color: #ea9d34 }
/* LiteralStringOther */ .chroma .sx { color: #ea9d34 }
/* LiteralStringRegex */ .chroma .sr { color: #ea9d34 }
/* LiteralStringSingle */ .chroma .s1 { color: #ea9d34 }
/* LiteralStringSymbol */ .chroma .ss { color: #ea9d34 }
/* LiteralNumber */ .chroma .m { color: #ea9d34 }
/* LiteralNumberBin */ .chroma .mb { color: #ea9d34 }
/* LiteralNumberFloat */ .chroma .mf { color: #ea9d34 }
/* LiteralNumberHex */ .chroma .mh { color: #ea9d34 }
/* LiteralNumberInteger */ .chroma .mi { color: #ea9d34 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ea9d34 }
/* LiteralNumberOct */ .chroma .mo { color: #ea9d34 }
/* Operator */ .chroma .o { color: #797593 }
/* OperatorWord */ .chroma .ow { color: #797593 }
/* Punctuation */ .chroma .p { color: #797593 }
/* Comment */ .chroma .c { color: #9893a5 }
/* CommentHashbang */ .chroma .ch { color: #9893a5 }
/* CommentMultiline */ .chroma .cm { color: #9893a5 }
/* CommentSingle */ .chroma .c1 { color: #9893a5 }
/* CommentSpecial */ .chroma .cs { color: #9893a5 }
/* CommentPreproc */ .chroma .cp { color: #9893a5 }
/* CommentPreprocFile */ .chroma .cpf { color: #9893a5 }
/* GenericDeleted */ .chroma .gd { color: #b4637a }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #56949f }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #f2e9e1 }
