{{/* remote-github

  Description:

  Fetch and render remote Github content, using Github API:
  <https://docs.github.com/en/rest/repos/contents?apiVersion=2022-11-28#get-repository-content>

  Usage: {{% remote-github "user/repo" "filepath"
%}}

Example:
{{% remote-github "ntk148v/til" "linux/iptables.md" %}}
*/}}
{{ $repo := .Get 0 }}
{{ $path := .Get 1 }}
{{ $url := print "https://api.github.com/repos/" $repo "/contents" $path }}
{{ $resource := resources.GetRemote $url }}
{{ $data := $resource | transform.Unmarshal | default (dict "error" "Unable to get remote resource") }}
{{ if $data.error }}
  {{ $data.error }}
{{ else }}
  {{ $data.content | base64Decode | markdownify }}
{{ end }}
